input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:ctrl_space_toggle"
        }
    }

    touchpad {
        tap
        natural-scroll
    }
}

gestures {
    hot-corners {
        off
    }
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

output "HDMI-A-1" {
    mode "1920x1080@100.000"
    scale 1
    transform "normal"
    position x=1280 y=0
}

layout {
    gaps 16
    center-focused-column "never"
    background-color "transparent"
    default-column-width { proportion 0.5; }
    focus-ring {
        off
    }

    border {
        width 4
        active-color "#9564fd"
        inactive-color "#6442A5"
        urgent-color "#D5206A"
    }
}

spawn-at-startup "dunst"
spawn-sh-at-startup "swaybg -i ~/.config/niri/wallpaper.png"
prefer-no-csd

animations {
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}


binds {
    Mod+Shift+1 { show-hotkey-overlay; }
    Mod+T hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
    Mod+Space hotkey-overlay-title="Run an Application: rofi" { spawn "rofi" "-show" "drun"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "~/.config/niri/scripts/media volume_up"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "~/.config/niri/scripts/media volume_down"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }
    XF86AudioNext repeat=false allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86AudioPause repeat=false allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPlay repeat=false allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPrev repeat=false allow-when-locked=true { spawn-sh "playerctl previous"; }
    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }
    Mod+Ctrl+J      { focus-workspace-down; }
    Mod+Ctrl+K      { focus-workspace-up; }
    Mod+Shift+Ctrl+J { move-column-to-workspace-down; }
    Mod+Shift+Ctrl+K { move-column-to-workspace-up; }
    Mod+Ctrl+1 { focus-workspace 1; }
    Mod+Ctrl+2 { focus-workspace 2; }
    Mod+Ctrl+3 { focus-workspace 3; }
    Mod+Ctrl+4 { focus-workspace 4; }
    Mod+Ctrl+5 { focus-workspace 5; }
    Mod+Ctrl+6 { focus-workspace 6; }
    Mod+Ctrl+7 { focus-workspace 7; }
    Mod+Ctrl+8 { focus-workspace 8; }
    Mod+Ctrl+9 { focus-workspace 9; }
    Mod+Shift+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Shift+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Shift+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Shift+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Shift+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Shift+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Shift+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Shift+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Shift+Ctrl+9 { move-column-to-workspace 9; }
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+C { center-column; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+W { toggle-column-tabbed-display; }
    Mod+Shift+3 { spawn "~/.config/niri/scripts/screenshot"; }
    Mod+Shift+4 { spawn "~/.config/niri/scripts/selection-screenshot"; }
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+E { quit; }
    Mod+Shift+P { power-off-monitors; }
}
